.apex-app{
  display: flex;
  min-height: 100vh;
}

.apex-main{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.apex-content{
  padding: 40px;
}
.section-title{
  margin-bottom: 25px;
  border-left: 4px solid red;
  padding-left: 10px;
}
.apex-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.textActive{
  font-size: 18px;
  color: #5d5d5d;
  text-align: center;
  margin-top: 50px;
}